apiVersion: apps/v1
{% if ingress_type|lower == "deployment" %}
kind: Deployment
{% else %}
kind: DaemonSet
{% endif %}
metadata:
  name: nginx-ingress
  namespace: nginx-ingress
spec:
{% if ingress_type|lower == "deployment" %}
  replicas: {{ ingress_deployment_count }}
{% endif %}
  selector:
    matchLabels:
      app: nginx-ingress
  template:
    metadata:
      labels:
        app: nginx-ingress
{% if ingress_prometheus is defined %}
     annotations:
       prometheus.io/scrape: "{{ ingress_prometheus['scrape'] }}"
       prometheus.io/port: "{{ ingress_prometheus['port'] }}"
{% endif %}
    spec:
      serviceAccountName: nginx-ingress
      volumes:
      - name: openid-connect-js
        configMap:
          name: openid-connect.js
      - name: openid-connect-server-conf
        configMap:
          name: openid-connect.server-conf
      containers:
      - image: {{ ingress_imagename }}
        imagePullPolicy: {{ ingress_pullpolicy | default('Always') }}
        name: nginx-ingress
        ports:
        - name: http
          containerPort: 80
        - name: https
          containerPort: 443
{% if ingress_prometheus is defined %}
        - name: prometheus
          containerPort: {{ ingress_prometheus['port'] }}
{% endif %}
        volumeMounts:
        - name: openid-connect-js
          mountPath: /etc/nginx/conf.d/openid_connect.js
          subPath: openid_connect.js
        - name: openid-connect-server-conf
          mountPath: /etc/nginx/conf.d/openid_connect.server_conf
          subPath: openid_connect.server_conf
        securityContext:
          allowPrivilegeEscalation: true
          runAsUser: 101 #nginx
          capabilities:
            drop:
            - ALL
            add:
            - NET_BIND_SERVICE
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        args:
          - -nginx-plus
          - -nginx-configmaps=$(POD_NAMESPACE)/nginx-config
          - -default-server-tls-secret=$(POD_NAMESPACE)/default-server-secret
         #- -v=3 # Enables extensive logging. Useful for troubleshooting.
          - -report-ingress-status
         #- -external-service=nginx-ingress
         #- -enable-leader-election
         #- -enable-prometheus-metrics
         #- -global-configuration=$(POD_NAMESPACE)/nginx-configuration
          - -enable-custom-resources
{% if ingress_allow_cidr is defined %}
          - -nginx-status-allow-cidrs={{ ingress_allow_cidr }}
{% endif %}
{% if ingress_container_pullsecret is defined %}
      imagePullSecrets:
        - name: {{ ingress_container_pullsecret }}
{% endif %}